body{
  margin:0px
}

/* icon bar horizontal */

.icon-bar-horizontal{
  width: fit-content;
  background-color: gainsboro;
  overflow: auto;
}

.icon-bar-horizontal a{
  float: left;
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  transition: all 0.3s ease;
}

.icon-bar-horizontal a:hover{
  color: black;
  background-color: white;
}

.icon-bar-horizontal .active{
  background-color:indigo;
}
/* icon bar vertical */

.icon-bar-vertical{
  width: 50px;
  background-color: gainsboro;
  margin: 20px;
  
}

.icon-bar-vertical a{
  display: block;
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  transition: all 0.3s ease;
}

.icon-bar-vertical a:hover{
  color: black;
  background-color: white;
}

.icon-bar-vertical .active{
  background-color:indigo;
}